Repository nathanwl2004/tormach-arm: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, clang-format, xmlindent, cmake-format, docker-image-version

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: check-ast
  - id: check-byte-order-marker
  - id: trailing-whitespace
  - id: check-docstring-first
  - id: check-executables-have-shebangs
  - id: check-json
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-xml
  - id: end-of-file-fixer
  - id: mixed-line-ending
    args: [--fix=lf]
  - id: debug-statements
  - id: detect-private-key

- repo: https://github.com/asottile/pyupgrade
  rev: v3.15.0
  hooks:
  - id: pyupgrade
    args: [--py37-plus, --keep-runtime-typing]

- repo: local
  hooks:
  - id: black
    name: Run black code formatter
    description: This hook formats Python code.
    entry: env LC_ALL=C.UTF-8 black -q
    language: system
    args: [-S, -l, '80']
    types: [python]
        # ignore robot program examples and templates
    exclude: >
      (?x)^(
          src/robot_ui/src/robot_ui/pathpilot/robot/program/templates/.*|
          src/robot_command/examples/programs/.*
      )$

  - id: clang-format
    name: Run clang-format
    description: Clang C/C++ code formatter.
    entry: clang-format -i
    args: [-style=file]
    language: system
    types: [file, c++]
        # note: formatting style in .clang-format

  - id: shfmt
    name: Run shfmt
    description: shfmt Shell code formatter.
    entry: shfmt -w
    args: [-i=4]
    language: system
    types: [file, shell]

  - id: xmlindent
    name: Run xmlindent
    description: xmlindent XML code formatter.
    entry: .ci/xmlformat.sh
    args: [-nbe, -i 2]
    language: system
    files: ^.*\.(xml|launch|xacro)$

  - id: cmake-format
    name: Run cmake-format
    description: cmake-format CMakeLists.txt formatter.
    entry: cmake-format
    args: [-i]
    language: system
    files: ^(.*/CMakeLists\.txt|.*\.cmake|.*\.cmake.in)$

  - id: docker-image-version
    name: Check for current docker image version
    description: Fail if docker image is out of date and needs bump
    entry: devel_scripts/docker-dev.sh -B
    language: system
    files: ^devel_scripts/docker/.*$
    require_serial: true
    verbose: false

- repo: https://github.com/PyCQA/flake8
  rev: 6.1.0
  hooks:
  - id: flake8
    args: [--config=.flake8]

- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.21.0
  hooks:
  - id: yamllint
    args: [--format, parsable]

- repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
  rev: 0.2.3
  hooks:
  - id: yamlfmt
    args: [--mapping, '2', --sequence, '2', --offset, '0', --width, '80']

- repo: https://github.com/zultron/cmake-format-precommit.git
  rev: v0.6.14
  hooks:
  - id: cmake-format
  - id: cmake-lint
    args: [--disabled-codes, C0113, C0103]

fixup! Run formatters
  za6_hardware/hal_plumber/__init__.py
  za6_hardware/hal_plumber/robot_io_pins.py
  za6_hardware/utils/calc_joint_scales.py
Due: black

devel_scripts: Remove unused Qt & QML packages from Docker image
  devel_scripts/docker/ros_devel/0-build.sh
  devel_scripts/docker/ros_devel/1-tools.sh
Due: docker-image-version

devel_scripts: Bump image version -> 219
  devel_scripts/image-version.sh
Due: none

devel_scripts: Fix workspace directory computation
  devel_scripts/docker/Dockerfile
  devel_scripts/docker/env.sh
  devel_scripts/docker/ros_base/1-install-ros.sh
  devel_scripts/env.sh
Due: docker-image-version

README: Add note about avoiding Docker image build failures
  README.md
Due: none

1-system.sh
  devel_scripts/docker/base/1-system.sh
Due: docker-image-version

bump docker image version
  .docker-version
Due: none

bump old version
  .docker-version
Due: none

"updates"
  devel_scripts/docker-dev.sh
Due: none

"updates"
  devel_scripts/docker/base/1-system.sh
  devel_scripts/image-version.sh
Due: docker-image-version

updates
  devel_scripts/docker/base/1-system.sh
  devel_scripts/image-version.sh
Due: docker-image-version

updates
  devel_scripts/.image-version.sh.swp
  devel_scripts/docker-dev.sh
  devel_scripts/docker/Dockerfile
  devel_scripts/image-version.sh
Due: docker-image-version

update
  devel_scripts/docker/Dockerfile
  devel_scripts/image-version.sh
Due: docker-image-version

update
  devel_scripts/docker/Dockerfile
  devel_scripts/env.sh
  devel_scripts/image-version.sh
Due: docker-image-version

update
  devel_scripts/.image-version.sh.swp
  devel_scripts/docker/base/1-system.sh
  devel_scripts/image-version.sh
Due: docker-image-version

update
  devel_scripts/docker/base/1-system.sh
  devel_scripts/image-version.sh
Due: docker-image-version

update
  devel_scripts/image-version.sh
Due: none
